body {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Quicksand;
    background-color: #666;
}


h1 {
    text-align: center;
    color: orange;
}

form > textarea {
    width: 20rem;
    height: 10rem;
    resize: none;
    background-color: #666;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: outset orange 4px;
    
}

form {
    display: flex;
    flex-direction: column;
    
}

select {
    height: 2rem;
    background-color: #666;
    font-size: 20px;
    border: outset orange 4px;
    color: white;
    text-align: center;
    text-align-last: center;
}

option {
    text-align: center;
}

button {
    color: white;
    background-color: #666;
    font-size: 20px;
    border: 3px outset orange ;
    padding: 5px;
    cursor: pointer;
}


.todo {
    height: 100vh;
    width: 25%;
    background-color: #555;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.list {
    width: 75%;
    height: 100vh;
    background-color: #555;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    
}

.task {
    width: 12rem;
    height: 12rem;
    text-align: center;
    color: white;
    font-size: 1em;
    border: solid orange 6px;
    word-wrap: break-word;
    margin: 5px;
    box-shadow: black 2px 2px;
    text-shadow: black 1px 1px;
}

input[type=checkbox] {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    cursor: pointer;
}


.boxHeader{
    width: 100%;
    height: 15%;
    background-color: orange;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.boxHeader > span {
    color: white;
    cursor: pointer;
    display: none;
    
}

.doIt {
    height: 75%;
}

.addDate {
    font-weight: bold;
	font-size: 15px;
    width: 100%;
    height: 10%;
    background-color: orange;
    display: flex;
    justify-content: center;
    text-shadow: black 1px 1px;
    
}



@media (max-width: 1400px) {
	body {
		display: flex;
		flex-wrap: wrap;
	}
	.todo {
		width: 100%;
		height: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		
	}
	h1 {
		width: 100%;
	}
	.list {
		width: 100%;
	}
}

